.btn-group.gitrepo-choose {
    height: 50px;
    padding-top: 6px;
    min-width: 175px;
}


button#edit-github-add {
   height: 39px;
   min-width: 100%;
}

button#update-repos-users {
    width: 200px;
    margin-left: 5px;
}